In [6]:
import os
os.system('ls')

STI-20230528133019239.csv
Untitled.ipynb
ans
backend-mvp-puc
colap
desenvolvimento-full-stack-puc
df2.csv
estudos_em_python
frontend-mvp-puc
pnad_estudo_lf.ipynb
pnad_renda_principal_por_ano_regiao.csv
pnad_renda_principal_por_ano_regiao_2.csv
teste
testes em python.ipynb

0

In [34]:

import pandas
filepath_or_buffer='STI-20230528133019239.csv'
df = pandas.read_csv(filepath_or_buffer, sep=";")
df.columns = ['date', 'total']
df2 = df.drop(df. index[386])
df2

        date          total
0    02/1991  24,147,477.78
1    03/1991  26,838,790.45
2    04/1991  28,797,354.19
3    05/1991  31,563,973.77
4    06/1991  34,517,322.20
..       ...            ...
381  11/2022   7,742,549.32
382  12/2022   7,854,469.93
383  01/2023   7,690,510.83
384  02/2023   7,799,248.70
385  03/2023   7,864,403.53

[386 rows x 2 columns]

In [32]:
df2.plot(x="date", y="total")

TypeError: no numeric data to plot